/*.text-danger {
    color: #f80;
}
.text-success {
    color: #4cff00;
}*/
img {
    height: 160px;
    width: 160px;
    margin: auto;
    display: block;
}

.box {
    height: 310px;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px 0;
}

    .box img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin-bottom:15px;
    }
    .section-title {
        font-size: 16px;
        color: #36619a;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 20px;
        margin: 0 0 20px;
    }

    .section-title:before {
        content: "";
        position: absolute;
        width: 140px;
        bottom: 0;
        left: 50%;
        margin-left: -70px;
        height: 1px;
        background: #ebebeb;
    }

    .section-title:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -11px;
        left: 50%;
        margin-left: -12px;
        border: 5px solid #fff;
        border-radius: 20px;
        background: #36619a;
    }
.jsonimg img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 15px;
}
.tabs {
    
}
    .tabs h4 {
        cursor: pointer;
        margin: 0;
        background-color: #efefef;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .tabs .tab-body {
        padding:10px;
        background-color:#f9f9f9;
    }


/*==================Loader========================*/
.loading {
    position: absolute;
    /* top: 50%; */
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    height: 100%;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
    top: 50%;
    position: relative;
}

    .loading-bar:nth-child(1) {
        background-color: #3498db;
        animation-delay: 0;
    }

    .loading-bar:nth-child(2) {
        background-color: #c0392b;
        animation-delay: 0.09s;
    }

    .loading-bar:nth-child(3) {
        background-color: #f1c40f;
        animation-delay: .18s;
    }

    .loading-bar:nth-child(4) {
        background-color: #27ae60;
        animation-delay: .27s;
    }

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}